#logo{
    display:block;
    max-width: 200px;
}

#navbarSupportedContent{
    max-width: 800px;
}

.navbar{
    margin:auto;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 100;
}


.navbar-nav{
    margin:auto;
    max-width: 800px;
}

.nav-link{
    background-color: transparent !important;
    color: white !important;
    font-weight: bold;
}

.active .nav-link{
    color: var(--bg-green) !important;
    border-bottom: 2px solid var(--bg-green);
}